.section-header {
  width: 100%;
  height: 100%;
  margin-top: 106px;
  display: flex;
  &_left {
    width: 590px;
    display: flex;
    flex-direction: column;
  }
  &_right {
    margin-left: auto;
  }
}
.section-header__title {
  font-size: 100px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 120px;
  color: #08082a;
  margin-bottom: 30px;
}
.section-header__subtitle {
  max-width: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 160%;
  color: #08082a;
  opacity: 0.6;
  margin-bottom: 50px;
}
.section-header__button {
  width: 250px;
  background: linear-gradient(315deg, #ff5a09 0%, #ff894e 100%);
  text-align: center;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
  }
  .button {
    display: block;
    padding: 20px;
    font-size: inherit;
    color: #fff;
    text-decoration: none;
  }
}
.section-header__arrow-down {
  margin-top: 75px;
  margin-left: auto;
}
