<header class="header">
    <div class="header__content">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Resources</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Packages</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Blogs</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Shop</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img src="/assets/images/icon/logo.svg" alt="">
        </div>
        <div class="profile">
            <div class="profile__link">
                <a href="#" class="link">Get Started</a>
            </div>
            <div class="profile__image">
                <img src="/assets/images/icon/profile.svg" alt="">
            </div>
        </div>
    </div>
</header>
